@media (max-width:1200px){
    #desk-nav{
        display: none;
    }

    #radio-nav{
        display: flex;
    }

   .experience-details-container{
        margin-top: -8rem;
    }

    #profile,.section-container{
display: block;
    }

    .arrow{
        display: none;
    }
    .arrow1{
        display: none;
    }

    section,.section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }

    .section_pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-container{
        margin-top: 195px;
        gap: 3rem;
        margin-bottom: 2rem;
    }
}

@media (max-width:1400px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
        text-align: center;
    }

    .about-container{
        flex-wrap: wrap;
    }
}

@media (max-width:500px) {
   #contact,footer{
    height: 18vh;
    margin-top: 25px;
    
   }

   #profile{
    height: 71vh;
    margin-bottom: 0px;
   }

   article{
    font-size: 1rem;
   }


   .about-container,.container-info-upper-container,.btn-container{
    flex-wrap: wrap;
   }


   .contact-info-container p,.nav-links li a{
    font-size: 1rem;
   }

   .experience-sub-title{
font-size: 1.25rem;
   }

   .logo{
    font-size: 1.5rem;
   }

   .nav-links{
    /* flex-direction: column; */
    gap: 1.5rem;
    text-align: center;
   }
   .section_pic-container{
    width: auto;
    height: 46vw;
    justify-content: center;

   }
   .section_text_p2{
    font-size: 1.25rem;
   }

   .title{
    font-size: 2rem;
   }
   .text-container{
    text-align: center;
   }

    .pic_container {
      
        justify-content: center;
        height: 45vh;
        margin-left: -10vw;
    }
   #About{
    margin-top: 6rem;
   }

   .section_text {
    align-self: center;
    text-align: center;
    margin-top: 20px;
}
/* .about-pic{
    margin-left: 8px;
  
    height: 41vh;
    margin-top: 41px;
} */



}